body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #333;
  color: #f4f4f4;
}

$yellow-color: #ffc400;
$dark-color: #343a40;
$light-color: #f4f4f4;
$danger-color: #dc3545;
$success-color: #28a745;

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
p,
a {
  color: $light-color;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

input[type='submit'] {
  border: 1px solid $light-color;
  background-color: rgba($color: $dark-color, $alpha: 0.8);
  color: $light-color;
  padding: 0.4rem 1.3rem;

  &:hover {
    border: 1px solid $light-color;
    background-color: rgba($color: $yellow-color, $alpha: 0.8);
    color: $light-color;
    transition: 0.3s linear;
  }
}

.SectionWrapper {
  max-width: 1100px;
  overflow: hidden;
  padding: 0 2rem;
  margin: 6rem auto 3rem;
}

.AuthSectionWrapper {
  a,
  h1 {
    color: $yellow-color;
  }

  p {
    margin: 1rem 0;
  }

  .InputWrapper {
    margin: 1.2rem 0;
  }
}

.Alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: $yellow-color;
  color: $light-color;
}

.Alert-Success {
  background: $success-color;
  color: $yellow-color;
}

.Alert-Danger {
  background: $danger-color;
  color: $yellow-color;
}

@media (max-width: 700px) {
  .SectionWrapper {
    margin: 7rem auto 3rem;
  }
}
