@import './colors.scss';

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #333;
  color: $light-color;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
p,
a {
  color: $light-color;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.fa-check {
  color: $success-color !important;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

input[type='submit'],
button {
  font: inherit;
}

.Button {
  display: inline-block;
  border: 1px solid $light-color;
  background-color: rgba($color: $dark-color, $alpha: 0.8);
  color: $light-color;
  outline: none;
  margin-right: 0.5rem;
  padding: 0.2rem 1.3rem;

  &:hover {
    border: 1px solid $light-color;
    background-color: rgba($color: $yellow-color, $alpha: 0.8);
    color: $light-color;
    transition: 0.3s linear;
  }
}

.UploadButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20px;
  border-radius: 50%;
  background-color: $yellow-color;
  padding: 0.7rem 1.2rem;
  margin-bottom: 1rem;
  cursor: pointer;

  i {
    color: $dark-color;
  }

  input[type='file'] {
    display: none;
  }
}

.SectionWrapper {
  max-width: 1100px;
  padding: 0 2rem;
  margin: 6rem auto 3rem;
}

.AuthSectionWrapper {

  a,
  h1 {
    color: $yellow-color;
  }

  p {
    margin: 1rem 0;
  }

  .InputWrapper {
    margin: 1.2rem 0;
  }
}

.Alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: $yellow-color;
  color: $light-color;
}

.Alert-Success {
  background: $success-color;
  color: $yellow-color;
}

.Alert-Danger {
  background: $danger-color;
  color: $yellow-color;
}

.DashboardForum {
  h1 {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: $yellow-color;
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  a {
    margin-bottom: 1rem;
  }
}

.ProfileForm {
  h1 {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: $yellow-color;
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  div {
    margin: 1.2rem 0;
  }

  small {
    display: block;
    margin-top: 0.3rem;
    color: $yellow-color;
  }
}

.Profiles {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.PostCommentForm {
  div {
    background-color: $yellow-color;
    padding: 0.5rem;
    margin: 1.3rem 0 1rem 0;

    h3 {
      color: $dark-color;
    }
  }

  form {
    margin-bottom: 2rem;

    textarea {
      margin: 1rem 0;
    }
  }
}


.PostCommentItem {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;
  padding: 1rem;
  border: 1px solid $yellow-color;
  margin: 1rem 0;

  div:first-child {
    text-align: center;

    h4 {
      margin: 0.3rem 0;
    }

    div {
      display: flex;
      justify-content: center;

      .ImgWrapper {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        &:nth-of-type(2) {
          margin: 0 0.4rem;
        }
      }
    }
  }

  .PostCommentContent {
    p:first-of-type {
      font-size: 1rem;
      margin: 1rem 0;
    }

    p:nth-of-type(2) {
      font-size: 0.8rem;
      color: $yellow-color;
      margin-top: 0.5rem;
    }

    .PostCommentButtons {
      border: none;
      outline: none;
      background-color: transparent !important;
      color: white;
      margin-right: 1rem;
      cursor: pointer;

      &:nth-of-type(3) {
        color: $danger-color;
      }
    }

  }
}

.LikeColor {
  color: $yellow-color !important;
}

.DislikeColor {
  color: $danger-color !important;
}

.CommentColor {
  color: $blue-color !important
}


@media (max-width: 700px) {
  .SectionWrapper {
    margin: 7rem auto 3rem;
  }

  .HideSmall {
    display: none;
  }

  .PostCommentItem {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
}