@import '../../colors.scss';

.Dashboard {
    h1 {
        font-size: 3rem;
        line-height: 1.2;
        margin-bottom: 1rem;
        color: $yellow-color;
    }

    p {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    a {
        margin-bottom: 1rem;
    }
}