@import '../../colors.scss';

.Photos {
    text-align: center;
    background-color: $dark-color;
    margin-top: 2rem;
    padding: 2rem 1rem;

    h2 {
        color: $yellow-color;
        margin-bottom: 1rem;
    }

    .Gallery {
        display: grid;
        grid-gap: 0.7rem;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));

        .ImgWrapper {
            height: 220px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            border: 1px solid $yellow-color;
            position: relative;
            cursor: pointer;

            &:hover::after {
                content: '';
                height: 100%;
                width: 100%;
                position: absolute;
                background-color: rgba($color:$dark-color, $alpha: 0.3);
                top: 0;
                left: 0;
            }
        }
    }
}

.Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

    input[type='submit'] {
        margin-top: 1rem;
        cursor: pointer;
    }

    input:disabled {
        opacity: 0.3;
        cursor: not-allowed;
    }

    small:first-of-type {
        margin-bottom: 0.3rem;
    }

    small {
        color: $yellow-color;
    }
}

.Lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.8);
    display: flex;
    align-items: center;
    justify-content: center;

    .ImgWrapper {
        max-width: 30%;
        background-color: black;
        border: 2px solid white;

        img {
            display: block;
            padding: 0.5rem;
        }
    }

    button:first-of-type {
        position: fixed;
        right: 0;
        top: 0;
        padding: 0.2rem 0.4rem 0;
        margin: 1rem;
    }

    button:nth-of-type(2) {
        position: fixed;
        top: 0;
        margin-top: 1rem;
    }
}

@media(max-width: 700px) {
    .Lightbox {
        .ImgWrapper {
            max-width: 250px;
        }
    }
}