@import '../../colors.scss';

.Profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem 0;
    background-color: $yellow-color;

    img {
        width: 250px;
        border-radius: 50%;
        margin: 1rem 0;
    }

    h1 {
        font-size: 3rem;
        color: $dark-color;
        margin-bottom: 1rem;
    }

    p {
        color: $dark-color;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
}

.About {
    text-align: center;
    background-color: $yellow-color;
    margin: 2rem 0;
    padding: 2rem 1rem;

    h2 {
        color: $dark-color;
        margin-bottom: 1rem;
    }

    p {
        color: $dark-color;
        margin-bottom: 1rem;
    }

}