@import '../../../colors.scss';

.ProfileItem {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 1rem 0;
    width: 230px;
    padding: 1rem;
    background-color: $yellow-color;
    margin-right: 1.5rem;

    .ImgWrapper {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    h2 {
        color: $dark-color;
        margin-bottom: 0.8rem;
    }

    a {
        background-color: $dark-color;
        padding: 0.5rem 1rem;
        color: $yellow-color;
    }
}