@import '../../../../colors.scss';

.CreatePost {
    div {
        background-color: $yellow-color;
        padding: 0.5rem;
        margin: 1.3rem 0 1rem 0;

        h3 {
            color: $dark-color;
        }
    }

    form {
        margin-bottom: 2rem;

        textarea {
            margin: 1rem 0;
        }
    }
}