@import '../../../../colors.scss';

.Post {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 2rem;
    align-items: center;
    padding: 1rem;
    border: 1px solid $yellow-color;
    margin: 1rem 0;

    div:first-child {
        text-align: center;

        h4 {
            margin: 0.3rem 0;
        }

        div {
            display: flex;
            justify-content: center;

            .ImgWrapper {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;

                &:nth-of-type(2) {
                    margin: 0 0.4rem;
                }
            }
        }
    }

    .PostContent {
        p:first-of-type {
            font-size: 1rem;
            margin: 1rem 0;
        }

        p:nth-of-type(2) {
            font-size: 0.8rem;
            color: $yellow-color;
            margin-top: 0.5rem;
        }

        .PostButtons {
            border: none;
            outline: none;
            background-color: transparent !important;
            color: white;
            margin-right: 1rem;
            cursor: pointer;

            &:nth-of-type(3) {
                color: $danger-color;
            }
        }

    }
}

.LikeColor {
    color: $yellow-color !important;
}

.DislikeColor {
    color: $danger-color !important;
}

@media(max-width: 700px) {
    .Post {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }
}